.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*@media (max-width: 580px) {*/
/*  .recipe-list {*/
/*    display: block;*/
/*  }*/
/*}*/